@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css");

* {
  font-family: pretendard;
  margin: 0;
  padding: 0;
}

.a11y-hidden {
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.side-manu {
  width: 191px;
  height: 21px;
  border-radius: 34px;
  margin: 12px;
  padding: 8px 8px 8px 16px;
  text-align: center;
  line-height: 21px;
  list-style: none;
  background: #CCCCCC url(./images/validation_icon.svg) no-repeat 8.37696335078534% 50%/ 16px 17px;
}

.side-manu a {
  text-decoration: none;
  color: #000;
  padding-left: 4px;
  font-size: 14px;
  font-weight: 400; 
}